.TodoInput{
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  line-height: 1.8;
  margin-bottom: 1em;
  font-size: 16px;
  padding: 0 .2em;
}