.UserDialog-Wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-attachment: fixed;
  background-position: center;
  background-size: 100vw;
  background-color:#ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserDialog {
  margin-top: 100px;
  margin-bottom: 400px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 24em;
  background: white;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.35);
  
}
.UserDialog>h1{
  text-align: center;
  color: #db4c3f;
  font-size: 2.5em;
}
.UserDialog>nav:first-child {
  padding: 1em;
  margin-left: -2em;
}

.UserDialog>nav:first-child label{
  margin-left: 2em;
  cursor: pointer;
}

.UserDialog>.panes {
  padding: 0 1em 1em;
  
}
.UserDialog.forgotPassword >h3{
  padding: 1em;
  text-align: center;
}
.UserDialog.UserDialog.forgotPassword>form{
  padding: 0 1em 1em;
}

.UserDialog form>.row {
  display: flex;
  padding: .3em 0;
}

.UserDialog form>.row>label:first-child {
  width: 4em;
}
.UserDialog form>.row>input[type="text"],
.UserDialog form>.row>input[type="password"]{
  display: block;
  width: 75%;
  margin: 0 auto;
  padding: 8.5px 0;
  border: 1px solid #ff9999;
  box-shadow: inset 0 0 2px 0 #ffaaaa;
  border-radius: 2px;
  padding-left: 5px;
}

.UserDialog form>.row>input[type="text"]:focus,
.UserDialog form>.row>input[type="password"]:focus{
  outline-color: #ffcc99;
}

.UserDialog form>.row.actions {
  padding-left: 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.UserDialog form>.row.actions button{
  margin-right: .5em;
  cursor: pointer;
  background-color: #db4c3f;
  color: #fff;
  border:none;
  padding: 4px 0;
  border-radius: 3px;
  display: block;
  width: 75%;
  margin: 0 auto;
  line-height: 2em;
 
}
.UserDialog button{
  font:inherit;
  padding: .2em;
  margin-bottom: 10px;
}